@font-face {
    font-family: 'alarm-clock';
    src: url('assets/fonts/alarm\ clock.ttf');
}

@font-face {
  font-family: 'lemon-milk';
  src: url('assets/fonts/LEMONMILK-Regular.otf');
}

@font-face {
  font-family: 'square';
  src: url('assets/fonts/Square.ttf');
}

:root {
  --red: rgb(174, 7, 7);
  --brown: rgb(48, 33, 14);
}
  
body {
  color: white;
  margin: 0;
  background-color: rgb(73, 71, 71);
  box-sizing: border-box;
  font-family: 'lemon-milk';
  overflow: hidden;
}

/*logo, menu*/
h1 {
  background-color: var(--red);
  border: 4px solid var(--brown);
  border-radius: 12px;
  font-size: 2rem;
  margin: 20px;
  width: max-content;
  padding: 10px;
}
.menu {
  display: none;
  position: absolute;
  z-index: 1; 
  top: 70px;
  right: 18px;
  font-size: .7em;
  background-color: var(--red);
  border: 4px solid var(--brown);
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  text-align: center;
}

.menuButton {
  z-index: 9;
  padding: 5px;
  position: absolute;
  font-family: 'lemon-milk';
  font-size: 1rem;
  padding: .5rem;
  cursor: pointer;
  transition: .4s;
  color: white;
  top: 30px;
  right: 35px;
  border: transparent;
  background-color: var(--brown);
  border-radius: .2rem;
}

.menuButton:hover {
  border-radius: .5rem;
}

.menuButton:active {
  background: var(--red);
}


#help {
  background-color: var(--brown);
  color: white;
  font-family: 'lemon-milk';
  border: transparent;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  transition: .3s;
}

#help:hover {
  background-color: var(--brown);
  border-radius: 9px;
}

#helpText { 
  text-align: left;
  max-width: 100%;
  font-size: 10px;
  line-height: 1.8em;
  display: none;
  list-style: none;
}

.menu-input input {
  width: 20px;
  border: transparent;
  border-radius: 4px;
  background-color: white;
  margin: 5px;
}
/*end logo, menu*/

/*remove increment/decrement on num inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*remove increment/decrement on num inputs*/
input[type=number] {
  appearance:textfield;
}
.clock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translate(0, -140px);
}

.clock img {
  position: relative;
  width: 1200px;
  height: 600px;
}

.clock-input {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -20px);
}

.clock-input input {
  padding: 0;
  z-index: 1;
  border: none;
  background-color: transparent;
  font-family: 'alarm-clock';
  color:red;
  font-size: 6.5rem;
  width: 7.2rem;
}

.clock-input span {
  font-size: 7rem;
  padding-bottom: 1.5rem;
  font-family: 'alarm-clock';
  color: red;
  display: inline-block;
  vertical-align: middle;
}

.clock-buttons {
  position: absolute;
  z-index: 1;
  transform: translate(14px, 90px);
}

.clock-buttons button {
  font-family: 'square';
  font-size: 1rem;
  border: transparent;
  color: silver;
  cursor: pointer;
  background-color: transparent;
  padding: 1px 25px;
  margin-right: 35px;
}

#startpause {
  position: absolute;
  font-size: 0;
  border: transparent;
  background: transparent;
  cursor: pointer;
  width: 60px;
  height: 13px;
  transform: translate(132px, -150px);
}

/*increase clock size when it gets too small*/
@media (max-width: 600px) {
  .clock {
    transform: scale(.75) translate(0, -150px);
  }
}

/*only show clock and menu at small height*/
@media (max-height: 550px) or (max-width: 485px) {
  h1 {
    display:none;
  }
  .clock {
    transform: scale(.75);
  }
}

@media (max-width: 415px){
  .clock {
    transform: scale(.5);
  }

  .menu {
    position: absolute;
    display: flex;
    margin: 0;
    top: 5rem;
    width: 200px;
    height: min-content;
    border: 4px solid var(--brown);
    border-radius: 0;
    text-align: left;
    font-size: 1rem;
    border-radius: .5rem;
  }

  #startpause {
    width: 100px;
    height: 40px;
  }

  .clock-buttons {
    height: 39px;
  }
  
}

@media (max-width: 395px) {
  .clock-buttons {
    display: inline-flex;
  }
}

@media (max-width: 300px) {
  .clock {
    transform: scale(.4);
  }
}

@media (max-width: 200px) {
  .clock {
    transform: scale(.25);
  }
}
