@font-face {
    font-family: 'alarm-clock';
    src: url('internal/alarm\ clock.ttf');
}

@font-face {
  font-family: 'lemon-milk';
  src: url('internal/LEMONMILK-Regular.otf');
}
  
body {
  margin: 0;
  background-color: rgb(126, 71, 126);
  height: 100vh;
  display: grid;
  position: relative;
  font-size: 8px;
  font-family: 'lemon-milk';
}

h1 {
  position: absolute;
  left: 10px;
}

.background-image {
  position: absolute;
  place-self: center;
}

#clock {
  position: absolute;
  place-self: center;
}

#clock input {
  border: transparent;
  background-color: transparent;
  font-family: 'alarm-clock';
  color:red;
  font-size: 50px;
  width: 62px;
  margin-bottom: 159px;
}

#clock span {
  display: inline-block;
  color: red;
  font-size: 30px;
  translate: -3px -10px;
}

.link {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 10px;
  color: black;
}

button {
  position: absolute;
  place-self: center;
  width: 53px;
  height: 13px;
  font-size: 7px;
  border-radius: 0;
  color: white;
}

#study {
  translate: -87px -27px;
  p {
    margin-top: -1px;
  }
  background: transparent;
}

#break {
  translate: -7px -27px;
  p {
    margin-top: -1px;
  }
  background: transparent;
}

#reset {
  translate: 74px -27px;
  p {
    margin-top: -1px;
  }
  background: transparent;
}

#startpause {
  translate: 76px -156px;
  font-size: 0px;
  width: 37px;
  height: 10px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


  