@font-face {
    font-family: 'alarm-clock';
    src: url('internal/alarm\ clock.ttf');
}

@font-face {
  font-family: 'lemon-milk';
  src: url('internal/LEMONMILK-Regular.otf');
}
  
body {
  margin: 0;
  background-color: rgb(126, 71, 126);
  height: 100vh;
  display: grid;
  position: relative;
  font-size: 8px;
  font-family: 'lemon-milk';
}

.accordion {
  position: absolute;
  font-family: 'lemon-milk';
  font-size: 12px;
  cursor: pointer;
  transition: .4s;
  color: black;
  top: 20px;
  right: 25px;
  height: 1.8em;
  width: 3.8em;
  scale: 1.2;
  border: transparent;
  background-color: rgb(189, 87, 189);
  z-index: 99;
  border-radius: 4px;
}

.accordion:hover {
  background-color: rgb(221, 133, 221);
  border-radius: 6px;
}

.panel {
  position: absolute;
  display: none;
  overflow: hidden;
  z-index: 1; 
  top: 50px;
  right: 18px;
  font-size: 12px;
  background-color: rgb(189, 87, 189);
  padding: 15px;
  border-radius: 15px;
}

.studyTime {
  width: 35px;
  border: transparent;
  border-radius: 4px;
  background-color: white;

}

h1 {
  position: absolute;
  left: 10px;
}

.background-image {
  position: absolute;
  place-self: center;
  scale: 1.8;
}

#clock {
  position: absolute;
  place-self: center;
  scale: 1.8;
}

#clock input {
  border: transparent;
  background-color: transparent;
  font-family: 'alarm-clock';
  color:red;
  font-size: 50px;
  width: 62px;
  margin-bottom: 159px;
}

#clock span {
  display: inline-block;
  color: red;
  font-size: 30px;
  translate: -3px -10px;
}

.link {
  position: absolute;
  top: 30px;
  left: 10px;
  font-size: 10px;
  color: black;
}

button {
  scale: 1.8;
  position: absolute;
  place-self: center;
  width: 53px;
  height: 13px;
  font-size: 7px;
  border-radius: 3%;
  border-color:rgb(124, 124, 124);
  color: white;
  cursor: pointer;
}

#study {
  translate: -152px -47px;
  p {
    margin-top: -1px;
  }
  background-color: black;

}

#study.clicked {
  background-color: rgb(68, 19, 19);
}

#break.clicked {
  background-color: rgb(68, 19, 19);
}

#break {
  translate: -13px -47px;
  p {
    margin-top: -1px;
  }

  background-color: transparent;
}

#reset {
  translate: 134px -47px;
  p {
    margin-top: -1px;
  }

  background-color: transparent;
}

#reset:active {
  background-color: rgb(68, 19, 19)
}

#startpause {
  translate: 136px -281px;
  font-size: 0px;
  width: 37px;
  height: 11px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}


input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}


  