@font-face {
  font-family: "alarm-clock";
  src: url("assets/fonts/alarm clock.ttf");
}
@font-face {
  font-family: "lemon-milk";
  src: url("assets/fonts/LEMONMILK-Regular.otf");
}
@font-face {
  font-family: "square";
  src: url("assets/fonts/Square.ttf");
}
@font-face {
  font-family: "open-sans";
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

:root {
  --red: rgb(174, 7, 7);
  --brown: rgb(30, 33, 14);
  --red-transparent: rgba(60, 11, 11, 0.911);
  --grey: rgb(90, 90, 90);
}

html {
  display: flex;
  align-items: stretch;
  
}

body {
  min-height: 100vh;
  min-width: 100vw;
  color: white;
  background-color: rgb(51, 52, 51);
  margin: 0;
  box-sizing: border-box;
  font-family: "lemon-milk";
  overflow: hidden;
}

input {
  caret-color: var(--red);
  font-weight: 500;
  font-family: "open-sans";
}

#auth-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
  background-color: var(--red);
  border: 4px solid var(--brown);
  width: max-content;
  padding-bottom: 0;
  border-radius: 1em;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px;
  font-family: "open-sans";
}

#auth-container h2 {
  font-family: "lemon-milk";
}

#auth-container *:not(input, #google-login) {
  margin-top: 10px;
  margin-bottom: 2px;
}

#auth-container #exit {
  position: absolute;
  background: transparent;
  border: transparent;
  color: white;
  right: 5px;
  top: 0;
  transform: translate(0, -10px);
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

#exit:hover svg {
  scale: 1.2;
  animation: spin .1s linear;
}

#auth-container #submit {
  margin: 15px;
  top: auto;
  right: auto;
  bottom: 0;
  font-family: "lemon-milk";
  background-color: var(--brown);
  color: white;
  border: transparent;
  border-radius: .2em;
  padding: .4em;
  align-self: center;
  cursor: pointer;
  transition: border-radius .5s;
}

#auth-container #submit:hover {
  border-radius: .6em;
}

#google-login {
  position: relative;
  z-index: 1;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  color: black;
  font-size: .8rem;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-color: white;
  background-position: 12px 11px;
  cursor: pointer;
}

/*logo, menu*/
#title {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: inline-block;
  background-color: var(--red);
  border: 4px solid var(--brown);
  border-radius: 12px;
  font-size: 2rem;
  margin: 20px;
  width: max-content;
  padding: 10px;
  transition: .4s;
}

#title:hover {
  border-radius: 20px;
}

#menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 80px;
  right: 35px;
  font-size: 0.7em;
  background-color: var(--red);
  border: 4px solid var(--brown);
  padding: 10px;
  border-radius: 15px;
  width: 150px;
  text-align: center;
}

#menu-button {
  z-index: 1;
  padding: 5px;
  position: absolute;
  font-family: "lemon-milk";
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.4s;
  color: white;
  top: 30px;
  right: 35px;
  border: transparent;
  background-color: var(--brown);
  border-radius: 0.2rem;
}

#menu-button:hover {
  border-radius: 0.5rem;
}

#menu-button:active {
  background: var(--red);
}

.menu-content-button {
  cursor: pointer;
  background-color: var(--brown);
  color: white;
  font-family: "lemon-milk";
  border: transparent;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  transition: 0.3s;
}

.menu-content-button:hover {
  background-color: var(--brown);
  border-radius: 9px;
}

#help-text {
  text-align: left;
  max-width: 100%;
  font-size: 10px;
  line-height: 1.8em;
  display: none;
  list-style: none;
}

#menu-input input {
  width: 20px;
  border: transparent;
  border-radius: 4px;
  background-color: white;
  margin: 5px;
}

/*end logo, menu*/
/*remove increment/decrement on num inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*remove increment/decrement on num inputs*/
input[type=number] {
  appearance: textfield;
}

#clock {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  transform: translate(0, -10px);
}

#clock img {
  position: relative;
  width: 1200px;
  height: 600px;
  z-index: 0;
}

#clock-input {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -20px);
}

#clock-input input {
  padding: 0.3rem;
  z-index: 1;
  border: none;
  background-color: transparent;
  font-family: "alarm-clock";
  color: red;
  font-size: 6.5rem;
  width: 7.2rem;
}

#clock-input span {
  font-size: 7rem;
  padding-bottom: 1.5rem;
  font-family: "alarm-clock";
  color: red;
  display: inline-block;
  vertical-align: middle;
}

#clock-buttons {
  position: absolute;
  z-index: 1;
  transform: translate(12px, 89px);
}

#clock-buttons button {
  font-family: "square";
  font-size: 1rem;
  border: transparent;
  color: silver;
  cursor: pointer;
  background-color: transparent;
  padding: 1px 25px;
  margin-right: 30px;
}

#startpause {
  position: absolute;
  font-size: 0;
  border: transparent;
  background: transparent;
  cursor: pointer;
  width: 60px;
  height: 13px;
  transform: translate(132px, -150px);
}

/*increase clock size when it gets too small*/
@media (max-width: 600px) {
  #clock {
    transform: scale(0.75) translate(0, -150px);
  }
}
/*only show clock and menu at small height*/
@media (max-height: 550px) or (max-width: 485px) {
  #title {
    display: none;
  }
  #clock {
    transform: scale(0.75);
  }
}
@media (max-width: 415px) {
  #clock {
    transform: scale(0.5);
  }
  /* #menu {
    position: absolute;
    display: flex;
    margin: 0;
    top: 5rem;
    width: 200px;
    height: min-content;
    border: 4px solid var(--brown);
    border-radius: 0;
    text-align: left;
    font-size: 1rem;
    border-radius: 0.5rem;
  } */
  #startpause {
    width: 100px;
    height: 40px;
  }
  #clock-buttons {
    height: 39px;
  }
}
@media (max-width: 395px) {
  #clock-buttons {
    display: inline-flex;
  }
}
@media (max-width: 300px) {
  #clock {
    transform: scale(0.4);
  }
}
@media (max-width: 200px) {
  #clock {
    transform: scale(0.25);
  }
}
