@font-face {
  font-family: "alarm-clock";
  src: url("assets/fonts/alarm clock.ttf");
}
@font-face {
  font-family: "lemon-milk";
  src: url("assets/fonts/LEMONMILK-Regular.otf");
}
@font-face {
  font-family: "square";
  src: url("assets/fonts/Square.ttf");
}
@font-face {
  font-family: "open-sans";
  src: url("assets/fonts/OpenSans-Regular.ttf");
}

:root {
  --black: rgba(0, 0, 0, .83);
  --brown: rgb(105, 66, 47);
  --black-transparent: rgba(60, 11, 11, 0.911);
  --grey: rgb(68, 61, 61);
}

html {
  display: flex; 
}

body {
  min-height: 100%;
  width: 100%;
  color: white;
  background-color: var(--grey);
  margin: 0;
  box-sizing: border-box;
  font-family: "lemon-milk";
  overflow-x: hidden;
  position: absolute;
  z-index: -9;
}

input {
  caret-color: white;
  font-weight: 500;
  font-family: "open-sans";
}

#auth-container {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  opacity: 1;
  background-color: var(--black);
  border: 4px solid var(--brown);
  width: max-content;
  padding-bottom: 0;
  border-radius: 1em;
  display: none;
  flex-direction: column;
  padding: 25px;
  font-family: "open-sans";
}

#login-form, #sign-up-form {
  display: none;
  flex-direction: column;
  justify-content: space-between;
}

#auth-container h2 {
  font-family: "lemon-milk";
}

#form-buttons {
  display: flex;
  justify-content: center;
}

#login, #sign-up {
  font-family: "lemon-milk";
  background: var(--brown);
  color: white;
  border: transparent;
  border-radius: .3em;
  padding: .4em;
  margin: 0 .5em;
  cursor: pointer;
}

#login:hover, #sign-up:hover {
  border-radius: 5px;
}

#auth-container *:not(input, #google-login) {
  margin-top: 10px;
  margin-bottom: 2px;
}

.exit {
  position: absolute;
  z-index: 10;
  background: transparent;
  border: transparent;
  color: white;
  right: 5px;
  top: 0;
  transform: translate(0, -10px);
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(90deg);
  }
}

.exit:hover svg {
  scale: 1.2;
  animation: spin .1s linear;
}

.form-submit {
  margin: 15px;
  top: auto;
  right: auto;
  bottom: 0;
  font-family: "lemon-milk";
  background-color: var(--brown);
  color: white;
  border: transparent;
  border-radius: .2em;
  padding: .4em;
  align-self: center;
  cursor: pointer;
  transition: border-radius .5s;
}

.form-submit:hover {
  border-radius: .6em;
}

#google-login {
  position: relative;
  z-index: 1;
  transition: background-color 0.3s, box-shadow 0.3s;
  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  color: black;
  font-size: .8rem;
  font-weight: 500;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-color: white;
  background-position: 12px 11px;
  cursor: pointer;
  margin-top: 10px;
}

/*logo, menu*/
#title {
  position: absolute;
  z-index: 1;
  cursor: pointer;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
  margin-left: 30px;
  transition: .4s;
}

header {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100px;
  position: relative;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}


#menu {
  display: none;
  position: absolute;
  z-index: 1;
  top: 80px;
  right: 35px;
  font-size: 0.7em;
  background-color: var(--black);
  padding: 10px;
  border-radius: 15px;
  border: 4px solid var(--brown);
  width: 150px;
  text-align: center;
}

#menu-button {
  z-index: 1;
  padding: 5px;
  position: absolute;
  font-family: "lemon-milk";
  font-size: 1rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: 0.2s;
  color: white;
  top: 30px;
  right: 35px;
  border: transparent;
  background-color: black;
  border-radius: 0.2rem;
}

#menu-button:hover {
  border-radius: 10px;
}

#menu-button:active {
  background: var(--black);
}

.menu-content-button {
  cursor: pointer;
  background-color: var(--brown);
  color: white;
  font-family: "lemon-milk";
  border: transparent;
  border-radius: 4px;
  margin-top: 10px;
  padding: 5px;
  transition: 0.3s;
}

.menu-content-button:hover {
  background-color: var(--brown);
  border-radius: 9px;
}

#color-picker {
  cursor: pointer;
  width: 35px;
  padding: 0;
  margin-top: 10px;
  border: 3px solid var(--brown);
}

#help-text {
  text-align: left;
  max-width: 100%;
  font-size: 10px;
  line-height: 1.8em;
  display: none;
  list-style: none;
}

#menu-input input:not(#color-picker) {
  width: 20px;
  border: transparent;
  border-radius: 4px;
  background-color: white;
  margin: 5px;
}

/*end logo, menu*/
/*remove increment/decrement on num inputs*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/*remove increment/decrement on num inputs*/
input[type=number] {
  appearance: textfield;
}

main {
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -9;
}
.todo-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
  border-radius: 15px;
  border: 4px solid var(--brown);
  background-color: var(--black);
  z-index: 1;
  height: min-content;
  width: 300px;
  margin-bottom: 40px;
}

.todo-container .exit{
  top: 20px;
}

#new-task-input {
  color: white;
  background-color: black;
  border: transparent;
  border-radius: 3px;
  padding: .3em;
}

#new-task-submit {
  background-color: black;
  color: white;
  border-radius: 3px;
  border: transparent;
  padding: .3em .5em;
}

#new-task-form {
  position: relative;
  z-index: 9;
  margin-bottom: 20px;
}

#tasks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task {
  display: inline-flex;
  margin-bottom: 10px;
}

.text {
  background-color: black;
  color: white;
  border: transparent;
  border-radius: 2px;
  padding: .2em;
}

.edit, .delete {
  margin-left: 5px;
  background-color: black;
  color: white;
  border: transparent;
  border-radius: 5px;
  padding: .3em .5em;
}

#clock {
  position: relative;
  z-index: -9;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 55vh;
  width: 100%;
}

#clock img {
  position: relative;
  width: 1200px;
  height: 600px;
  z-index: 0;
}

#clock-bg {
  position: absolute;
  width: 700px;
  height: 400px;
  border-radius: 50px;
  background-color: var(--black);
  z-index: -1
}

#clock-input {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(0, -20px);
}

#clock-input input {
  padding: 0.3rem;
  z-index: 1;
  border: none;
  background-color: transparent;
  font-family: "alarm-clock";
  color: red;
  font-size: 6.5rem;
  width: 7.2rem;
}

#clock-input span {
  font-size: 7rem;
  padding-bottom: 1.5rem;
  font-family: "alarm-clock";
  color: red;
  display: inline-block;
  vertical-align: middle;
}

#clock-buttons {
  position: absolute;
  z-index: 1;
  transform: translate(14px, 90px);
  display: flex;
  align-items: center;
}

#clock-buttons button {
  font-family: "square";
  font-size: 1rem;
  border: transparent;
  color: silver;
  cursor: pointer;
  background-color: transparent;
  padding: 1px 25px;
  margin-right: 34px;
}

#startpause {
  position: absolute;
  font-size: 0;
  border: transparent;
  background: transparent;
  cursor: pointer;
  width: 60px;
  height: 13px;
  transform: translate(132px, -150px);
}

/*increase clock size when it gets too small*/
@media (max-width: 700px) {
  #clock {
    transform: scale(0.75);
  }

  .todo-container {
    transform: translateY(-50px);
  }
}
/*only show clock and menu at small height*/
@media (max-height: 750px) or (max-width: 485px) {
 
  #clock {
    transform: scale(0.75);
  }

}

@media (max-height: 550px) {
  .todo-container {
    scale: .8;
  }
}
@media (max-width: 530px) {
  #title {
    font-size: 1rem;
  }
  #clock {
    transform: scale(0.5);
  }
  /* #menu {
    position: absolute;
    display: flex;
    margin: 0;
    top: 5rem;
    width: 200px;
    height: min-content;
    border: 4px solid var(--brown);
    border-radius: 0;
    text-align: left;
    font-size: 1rem;
    border-radius: 0.5rem;
  } */
  #startpause {
    width: 100px;
    height: 40px;
  }
  #clock-buttons {
    height: 39px;
  }
}
@media (max-width: 395px) {
  #clock-buttons {
    display: inline-flex;
  }
  
}
@media (max-width: 300px) {
  #clock {
    transform: scale(0.4);
  }

  .todo-container {
    scale: .8;
    transform: translateY(-100px);

  }
}
@media (max-width: 200px) {
  #clock {
    transform: scale(0.25);
  }

  #title {
    margin-left: 15px;
  }
}

@media (max-height: 480px) {
  .todo-container {
    display: none;
  } 
  #clock {
    transform: scale(0.7) translateY(50px);
  }
}